E-commerce/WebSite6_Assignment5/App_WebReferences/CreditCardService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="creditCardVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creditCardVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditCardVerificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>