E-commerce/WebSite6_Assignment5/App_WebReferences/AddToCartService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page0/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page0/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_addCart_InputMessage">
    <wsdl:part name="parameters" element="tns:addCart" />
  </wsdl:message>
  <wsdl:message name="IService1_addCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductId" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFromCart" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:getQuantity" />
  </wsdl:message>
  <wsdl:message name="IService1_getQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:getQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="addCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addCart" message="tns:IService1_addCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addCartResponse" message="tns:IService1_addCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProductId" message="tns:IService1_getProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProductIdResponse" message="tns:IService1_getProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeFromCart" message="tns:IService1_removeFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeFromCartResponse" message="tns:IService1_removeFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getQuantity" message="tns:IService1_getQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getQuantityResponse" message="tns:IService1_getQuantity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addCart">
      <soap:operation soapAction="http://tempuri.org/IService1/addCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductId">
      <soap:operation soapAction="http://tempuri.org/IService1/getProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeFromCart">
      <soap:operation soapAction="http://tempuri.org/IService1/removeFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuantity">
      <soap:operation soapAction="http://tempuri.org/IService1/getQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar35.fulton.asu.edu/Page0/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>