E-commerce/WebSite6_Assignment5/App_WebReferences/SignUpAndAddressService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page6/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar35.fulton.asu.edu/Page6/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IService1_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:getAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_getAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getNumberOfUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumberOfUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_getNumberOfUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumberOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CustomerData_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerData" />
  </wsdl:message>
  <wsdl:message name="IService1_CustomerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SignUp" message="tns:IService1_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SignUpResponse" message="tns:IService1_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAddress" message="tns:IService1_getAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAddressResponse" message="tns:IService1_getAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumberOfUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getNumberOfUsers" message="tns:IService1_getNumberOfUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNumberOfUsersResponse" message="tns:IService1_getNumberOfUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CustomerData" message="tns:IService1_CustomerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CustomerDataResponse" message="tns:IService1_CustomerData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IService1/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/getAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/getNumberOfUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerData">
      <soap:operation soapAction="http://tempuri.org/IService1/CustomerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar35.fulton.asu.edu/Page6/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>